body, p, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.wrapper-welcome-screen {
    height: 100vh;
    background: url("../images/Color_Fill_1.png") ;
    background-size: cover;
}

.welcome-screen {
    display: flex;
    flex-direction: column;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    padding: 50px 80px 50px 80px;

    background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
    opacity: 0.9;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.logo-section .logo-img {
    width: 30px;
    height: 30px;
}

.logo-label {
    display: inline-block;
}

.logo-label p:nth-child(1) {
    font-family: Raleway, serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
}

.logo-label p:nth-child(2) {
    font-family:"Raleway - Extra Bold", serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
}

.header-nav > a {
    color: #ffffff;
    font-family: "Raleway - Semi Bold", serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 25px;
}

.header-nav > a.active {
    color: #061e37;
}

.header-button > button {
    width: 80px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

.header-button > button:hover {
    cursor: pointer;
}

.welcome-screen-content {
    flex-grow: 3;

    display: flex;
    flex-direction: row;
}

.welcome-screen-left-content {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;

    width: 50%;
}

.welcome-screen-left-content h1 {
    color: #ffffff;
    font-family: "Raleway - Extra Bold", serif;
    font-size: 55px;
    font-weight: bold;
    line-height: 65px;
    text-transform: uppercase;
    margin: 0;
}

.welcome-screen-left-content section {
    color: #ffffff;
    font-family: Raleway, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

.left-content-buttons {
    margin-top: 25px;
}

.left-content-buttons button:first-child {
    width: 160px;
    height: 50px;
    background-color: #061e37;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: Roboto, serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 35px;
}

.left-content-buttons button:last-child {
    width: 160px;
    height: 50px;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;

    color: #061e37;
    font-family: Raleway, serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.welcome-screen-right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.welcome-screen-right-content > iframe {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #061e37;
}

.project-management-tool {
    height: 60vh;
    background: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 30px;
}

.management-tool-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.management-tool-header section {
    width: 45%;

    color: #b0bec5;
    font-family: Raleway, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin-top: 5px;
}

.management-tool-header h2 {
    color: #061e37;
    font-family: "Raleway - Semi Bold", serif;
    font-size: 45px;
    font-weight: 400;
}

.management-tool-header h3 {
    color: #b0bec5;
    font-family: "Raleway - Semi Bold", serif;
    font-size: 25px;
    font-weight: 400;
}

.tool-list {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.tool-list-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.tool-list-element > img {
    color: #b388ff;
    font-size: 80px;
    font-weight: 400;
    line-height: 25px;
}

.tool-list > .tool-list-element:nth-child(1) > img {
    width: 68px;
    height: 70px;
}

.tool-list > .tool-list-element:nth-child(2) > img {
    width: 58px;
    height: 80px;
}

.tool-list > .tool-list-element:nth-child(3) > img {
    width: 68px;
    height: 71px;
}

.tool-list-element > section {
    width: 60%;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons > button {
    width: 150px;
    height: 55px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #1de9b6;
    border: none;
    color: #ffffff;
    font-family: Raleway, serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.statistic {
    height: 15vh;
    display: flex;
    margin: 40px 0;
}

$color-collection: ('#80d8ff', '#82b1ff', '#b388ff', '#ea80fc');

@for $index from 1 through 4 {
    .statistic > .statistic-element:nth-child(#{$index}) {
        background-color: unquote(nth($color-collection, $index));
    }
}

.statistic-element, .circle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistic-element > .description{
    margin-left: 18px;
}

.circle {
    background: #ffffff;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
