.services {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.services-title > p, .services-title > h2 {
    text-align: center;
    max-width: 45vw;
}

.services-title > h2 {
    color: #061e37;
    font-family: "Raleway - Semi Bold", serif;
    font-size: 45px;
    font-weight: 400;
    margin-top: 25px;
}

.services-title > p {
    color: #b0bec5;
    font-family: Raleway, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
}

.services-boxes {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.service-element {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

.always-active {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-content {
    margin-left: 25px;
    margin-right: 10px;
}

.toggle-content {
    display: flex;
    min-height: 145px;
    margin: 15px 15px 0 10px;
}

.toggle-content p:first-child {
    margin-bottom: 25px;
}

.service-element-title > span {
    color: #061e37;
    font-family: Raleway, serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 15px;
}

details::-webkit-details-marker {
    color: #fff;
    background-color: #000;
}

summary {
    list-style-type: circle;
}


